<!doctype html>
<html>

<head>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="nav bar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="showdevice">Show Devices</a></li>
                    <li><a href="adddevice">Add Devices</a></li>
                    <li><a href="deletedevice">Delete Devices</a></li>
                    <li><a href="updatedevice">Update Devices</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>This is the About Page for My Smart Home.</h1>
    <p>In this webpage, you will be able to create a smart environment for you home. Below, you will be able to find different help for the different functions available here.</p>
    <div class = "information">
        <h2>Home</h2>
        <p>The Home page contains all the links to the different other pages.</p>
        <h2>About</h2>
        <p>The About page gives you more information to the rest of the pages in this web application. So feel free to come here to find more information, or to click on the header to go to the other pages.</p>
        <h2>Show Devices</h2>
        <p>The Show Devices page allow you to access all the devices that you have already added into the database. This allows you to keep track of the different devices in your home.</p>
        <h2>Add Devices</h2>
        <p>The Add Devices page allow you to add more devices whenever you get a new smart product. The page will allow you to customise the different setting for each products.</p>
        <h2>Delete Devices</h2> 
        <p>The Delete Devices page allow you to delete any of the devices you have added to the database. This will completely remove the entry of the device.</p>
        <h2>Update Devices</h2>
        <p>The Update Devices page allow you to edit the information of the devices or adjust any settings of the devices. This comes in handy as you will be able to adjust everything through this web application instead of doing it manually on the devices.</p>
        <br>
        <h3>Developed by Chai Jia Min, Shermin</h3>
    </div>
</body>

</html>