<!doctype html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="nav bar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="showdevice">Show Devices</a></li>
                    <li><a href="adddevice">Add Devices</a></li>
                    <li><a href="deletedevice">Delete Devices</a></li>
                    <li><a href="updatedevice">Update Devices</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Welcome to My Smart Home!</h1>
    <p>Welcome to the Smart Home application. Over here, you will be able to enhance your home environment, making it a smarter home to live in!</p>
    <p>To start adding a device, click on the 'Add Devices' Tab at the naviagtion area.</p>
</body>

</html>